.home .hero img
  max-height 180px

.search-box .suggestion a
  white-space normal

#carbonads a
  display none
  display inline !important

.custom-block.tip
  border-color: darken(#18CAE6, 10%)

.custom-block.warning
  border-color: lighten(#DF740C, 30%)
  background-color: #f3f5f7
  color: #2c3e50

.custom-block.warning .custom-block-title
  color: lighten(#DF740C, 30%)
